* {
  margin: 0;
  padding: 0;
}

html,body {
  font-size: 18px;
  background-color: #0B152B;
}

.App{
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contenedor-principal {
  min-height: 600px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.contenedor-cards {
  margin-top: 20px;
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.contenedor-nosotros {
  width: 1200px;
  height: 450px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.contenedor-productos {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.contenedor-quienes-somos {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.contenedor-quienes-somos h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.contenedor-quienes-somos p {
  text-align: justify;
  margin-bottom: 20px;
}