* {
  margin: 0;
  padding: 0;
}

html,body {
  font-size: 18px;
  background-color: #0B152B;
}

h1 {
  max-width: 940px;
  font-size: 2.5em;
  font-family: Lato,sans-serif;
  font-weight: 700px;
  line-height: 1.1;
  margin: 40px 0;
  color: #fff;
}

.App{
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contenedor-principal {
  min-height: 600px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.contenedor-cards {
  margin-top: 20px;
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.contenedor-nosotros {
  width: 1200px;
  height: 450px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.contenedor-productos {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}